.contents__message-box
  .message-top
    .user-name
      = message.user.name
    .time
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .message
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?