!!!
%html
  %head
  %body
  .body
    .sidebar
      .sidebar__header
        .sidebar__account-name
          おかみん
          .icon
            %i.fa.fa-edit
            %i.fa.fa-cog
      .sidebar__message-boxs
        .sidebar__message-box
          .sidebar__message-box__group-name
            sample
          .sidebar__message-box__messages
            メッセージがここに入るよ
        .sidebar__message-box
          .sidebar__message-box__group-name
            チャンプルー
          .sidebar__message-box__messages
            ゴーヤがここに入るよ
        .sidebar__message-box
          .sidebar__message-box__group-name
            天ぷらー
          .sidebar__message-box__messages
            ナスがめっちゃうまいよ  

    .contents
      .contents__header
        .group
          .contents__header__group-name
            チャンプルー
          .contents__header__member
            Member：女将ん
        .contents-header__edit-button
          Edit
      .contents__message-area
        .contents__messages
          .contents__message-box
            .message-top
              .user-name
                女将ん
              .time
                2019/09/11(wed) 09:00:01
            .message
              ゴーヤがここに入るよ
          .contents__message-box
            .message-top
              .user-name
                女将ん
              .time
                2019/09/11(wed) 09:00:00
            .message
              こんにゃく最初に作ったやつは天才
        .contents__footer
          .form-box
            .input-box
              %input{:name => "message",:placeholder => "type a message", :type => "text"}
                %label
              %input{:class => "file",:type => "file"}
              %input-image
                %i.fa.fa-image
            %button Send
  
        